<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Personal override
    <add key="DefaultURL" value="https://api.mybuild.techcommunity.microsoft.com/api/session/all"/>
    -->
    <add key="DefaultPath" value="C:\1\Build2019"/>
  </appSettings>
</configuration>